<div class="header-container">
    <div class="logo">
        <img src="/images/NSa-Rosa-Mistica.jpeg" alt="Imagem Nossa Senhora" />
    </div>
    <div class="titulo">
        <h4>Pequena e Grande</h4>
        <h4>Família de Nossa Senhora</h4>
    </div>
    <nav>
        <ul>
            <li><a href="/src/pages/home.html">Início</a></li>
            <li><a href="/src/pages/about.html">Sobre Nós</a></li>
            <li><a href="/src/pages/galery.html">Galeria</a></li>
            <li><a href="/src/pages/news.html">Notícias</a></li>
            <li><a href="/src/pages/donations.html">Doações</a></li>
            <li><a href="/src/pages/home.html#contact">Fale Conosco</a></li>
        </ul>
    </nav>
</div>
